.github/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
CONTRIBUTING.md
src/**
out/**
test/**
scripts/**
node_modules/**
.gitignore
.eslintrc.json
eslint.config.mjs
esbuild.js
tsconfig.json
tsconfig.test.json
vitest.config.ts
**/*.map
**/*.ts
**/.DS_Store
coverage/**
drive-output/**
**/*.vsix
